/dist/sensesservice-1.0.0.jar
/build/web/WEB-INF/classes/BasicService-help.txt
/db/scheduler.xml
/build/web/WEB-INF/classes/cricket.json
/nbproject/project.xml
/nbproject/private/
/build/web/WEB-INF/classes/org/cricketmsf/sensesstation/out/TemperatureReader.class
/build/web/WEB-INF/classes/org/cricketmsf/sensesstation/out/PiInfo.class
/lib/pi4j-core.jar